/* * {
    border: solid 1px black;
} */

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.total {
    height: 100%;
    display: grid;
    grid-template-rows: 55px 1fr;
    ;
}

header {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    align-items: center;
    justify-items: center;
    border: none;
    color: black;
    

}

.search {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

a {
    margin-left: 5px;
    color: violet;
}

.content {
    display: grid;
    grid-template-rows: 100px 1fr;
    justify-items: center;
    background-color: black;
    color: cornsilk;
    width: 100%;
    height: min-content;
}
.content-header {
    display: grid;
    grid-template-columns: 5fr 3fr 1fr;
    align-items: center;
    font-size: 30px;
    
}
hr {
    color: white;
}
.experiences {
    display: flex;
    flex-wrap: wrap;
    width: 60%; 
}

.exp {
    margin: 10px;
}
